#logoUSMB{
  width: auto;
  height: auto;  
}

#logoDeco{
    width: 20%;
    /*height: 50%;*/    
}
/*
img {
    max-width: 100%;
    height: auto;
}
*/
.header{
    margin:0; 
    padding:0; 
    max-height: 50px; 
    background-color: deepskyblue; 
    width: 100%;
    display: flex;
}

#headera{
    color: white;
    text-decoration: none;
}