#logoUSMB{  
    max-width: 140px;
}

#logoMaison{  
    max-width: 50px;

}

#logoDeco{
    max-width: 50px; 
}

header a{
    text-align: justify;
}

header h2{
    text-align: justify;
    padding-left: 100px;
    
}

.aimg{
    margin: 0;
    position: absolute;
    margin-left: 90%;
    
}

.header{
    max-height: 50px; 
    background-color: #5fc7f6; 
    width: 100%;
    display: flex;
    align-items: center;
}

#headera{
    color: white;
    text-decoration: none;
}