html{
    height: 100%;
}


h1{
    text-align: center;
}

body {
    margin:5px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    padding-bottom:5px;
    font: 14px Verdana;
    height: 95%;
}

label{
    font: 14px Verdana;
    text-align: center;
}

input[type="email"]{
    border-radius: 20px;
    font: 14px Verdana;
    text-align: center;
    margin-top: auto;
}

input[type="submit"]{
    cursor: pointer;
    border-radius: 20px;
    background-color: #61c6f4c7;;
    border: none;
    text-align: center;
    padding: 10px;
    display:block;
    margin:auto;
    font: 16px Verdana;
}


div{
    text-align: center;
    padding: 10px;
}