html{
    height: 100%;
}

body {
    margin:5px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    padding-bottom:5px;
    font: 14px Verdana;
}

h1{
    text-align: center;
}


form{
    display: block;
    margin: auto;
    width: 50em;
    text-align: left;
}

#info{
    background-color: #e0e0d1;
    border:1px solid #9FC6FF;
    padding:5px;
    border:2px solid black;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    width: 50em;
    position: relative;
    margin-bottom: 10px
}

#info input ,select{
    margin-left: 2em;
     cursor: pointer;
    border-radius: 20px;
    background-color: white;
    border: none;
    text-align: center;
    margin-top:10px;
    font: 16px Verdana;
}


#info .ligne{
    position: relative;
    left: 20%;
}

input[type="submit"]{
    cursor: pointer;
    border-radius: 20px;
    background-color: #61c6f4c7;;
    border: none;
    text-align: center;
    padding: 10px;
    display:block;
    margin:auto;
    font: 16px Verdana;
}

