
/* style général du formulaire */

body{
	background: #ffffff;
	color: #111111;
	font-family: Georgia, "Times New Roman", Times, serif;
}

form {
	background: #9CEBF8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 25px;
	padding: 20px;
	width: 50%;
    margin: 2em auto;
}

form h1{
	text-align: center;
	margin-bottom: 10px;
}



/* style sur les listes */

form ol {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 15px;
	padding: 10px 0px;
	margin: 1em 4em;
}

form ol li{
	list-style: none;
	padding: 8px 10px;
	margin-bottom: 2px;
}


/* Disposition du formulaire */

form label{
	float: left;
	font-size: 15px;
	width: 30%;
	padding: 0 15% 0 10%;
	/*text-align: center; Si jamais on préfère que les labels de soit pas alignés a gauche mais centré*/
}

form input[type=text] {
	text-align: center;
}
form input[type=submit] {
	background: #8CDBFF;
	width: 20%;
	margin-left:40%;
	height: 2.5em;
	border-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 15px;
	font-weight: bold;
}


/* Pour faire le bouton annuler qui est une balise <a> */
p#annuler{
	text-align: center;
}

p#annuler a{
	text-decoration: none;
	padding: 4px 5px 4px 5px;
	color: black;
	line-height: 2em;
	border-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 15px;
	font-weight: bold;
}