
html {
    height: 100%;
}


header {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #5fc7f6; 
    text-decoration: none;
    font: Verdana;
    width: 100%;
    height: 10%;
    max-height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
}

#nomUser{
    position: absolute;
    right: 10%;
}


.aimg{
    margin: 0;
    position: absolute;
    margin-left: 92%;
    
}

/*Le cadre noir pour former la page*/
body {
    min-height: 100%;
    margin:5px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    padding-bottom:5px;
    font: 14px Verdana;
}


nav ul{
    margin: 0;
    padding: 0;
}

.menu{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}



nav ul li{
    float: left;
    text-align: left;
    position: relative;
    list-style: none;
}


nav a{
    display: block;
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: grey;
}

.sous{
    display: none;
    background-color: #5fc7f6;
    position: absolute;
    z-index: 1000;
    font-size: 14px;

}

.sous a{
    padding: 10px;
}

nav > ul li:hover .sous{
    display: block;
}