body {
    margin:5px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    padding-bottom:5px;
    font: 14px Verdana;
}

/* TITRES */
h1, h2{
    text-align: center;
}

#titre {
    align-content: center;
    border-radius: 20px;
    background-color: #5fc7f6;
    text-align: center;
    margin: auto;
    width: 30%;
    padding: 10px;
    margin-top: 2em;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

/* BOUTON GÉNÉRATION DU TABLEAU DE PRÉSENCE */

form {
    display: flex;
}

form input{
    border-radius: 20px;
    background-color: #5fc7f6;
    margin: auto;
    text-align: center;
    padding: 10px;

    margin-bottom: 10px;
    
}

/* TABLEAU LISTE ÉTUDIANTS */

table {
    margin: auto;
    width: 60%;
}

table thead {
    font-size: 1.2em;
    font-weight: bold;
}

table, table th, table td {

    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}

th.disparait{
    border:0px solid black;
}

#ligneEtudiant {
    background-color: #fff;
}

#ligneEtudiant:hover {
    background-color: #ccc;
    cursor: pointer;
}

div.form-inline{
    display: flex;
    justify-content: center;
}


#presenceEtudiants td, #presenceEtudiants th{
    width: 50px;
    height: 50px;

}

button{
    background-color: white;
    height: 30px;
    border-radius: 5px;
    border: 3px solid black;
    margin: 5px;
}

#num-sem{
    margin: 10px;
    text-align: center;
}
