* {
    margin: 0;
    padding: 0;
}

/* Pour la page administration : */
#titre{
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

ol#menuAdministration{
	width: 40%;
	counter-reset: li;
	list-style: none;
	*list-style: decimal;
	font: 15px 'trebuchet MS', 'lucida sans';
	padding: 0;
	margin: auto;
	margin-bottom: 4em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}


#menuAdministration a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
}

#menuAdministration a:hover{
    background: #eee;
}

#menuAdministration:hover:before{
    transform: rotate(360deg);
}

#menuAdministration a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

/* Pour le formulaire ou on change des valeurs */

form {
	background: #9CEBF8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 25px;
	padding: 20px;
	width: 50%;
	margin : auto;
	margin-top: 2em;
	margin-bottom: 1em;
}

form h1{
	text-align: center;
}

form fieldset {
	border: none;
	margin-bottom: 30px;
}

form legend {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 5px;
	margin-left: 1em;
}

/* style sur les listes */

form ol {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

form ol li{
	list-style: none;
	padding: 8px 10px;
	margin-bottom: 2px;
}


/* Disposition du formulaire */

form label{
	float: left;
	font-size: 15px;
	width: 30%;
	/*text-align: center; Si jamais on préfère que les labels de soit pas alignés a gauche mais centré*/
}

form fieldset{
	background:none no-repeat left 50%;
	line-height: 20px;
	padding: 0 30px 0 30px;
	width: auto;
}

form fieldset label{
	padding: 0 15% 0 10%;
}

form input[type=text] {
	text-align: center;
}
form input[type=submit] {
	background: #8CDBFF;
	width: 20%;
	margin-left:40%;
	height: 2.5em;
	border-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 15px;
	font-weight: bold;
}

form input[type=file]{
	text-align: center;
}

/* Pour l'affichage de l'archive d'un étudiant */

div#archive h1{
	text-align: center;
}

div#archive a{
	color: black;
	text-decoration: none;
	margin-left: 2em;
}

div#archive {
	background: #9CEBF8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 25px;
	padding: 20px;
	width: 50%;
	margin : auto;
	margin-top: 2em;
	margin-bottom: 1em;
}

div#archive ol {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 1em 0;
}
	
div#archive ol li{
	list-style: none;
	padding: 2px 10px;
	margin-bottom: 2px;
}