header {
    color: white;
    background-color: #5fc7f6; 
    text-decoration: none;
    font: Verdana;
    width: 100%;
    height: 10%;
    max-height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
}

#nomUser{
    position: absolute;
    right: 10%;
}


.aimg{
    margin: 0;
    position: absolute;
    margin-left: 92%;
    
}

#menu, #menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu {
    text-align: center;
}
#menu li {
    display: inline-block;
}
#menu ul li {
    display: inherit;
}
#menu a {
    text-decoration: none;
    display: block;
	color: black;
}
#menu ul {
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu li:hover ul {
    left: auto;
}