
/* Affichage de la description d'un étudiant */
h1{
    text-align: center;
}

div#descriptEtu {
    background: #9CEBF8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 25px;
	padding: 20px;
	width: 50%;
	margin : auto;
	margin-top: 2em;
	margin-bottom: 1em;
}

div#descriptEtu ol {
    background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 15px;
	padding-top: 10px;
    padding-bottom: 10px;
}

div#descriptEtu ol li{
    list-style: none;
	padding: 2px 10px;
}

p.gauche {
    float: left;
	font-size: 15px;
    width: 30%;
    padding: 0 10% 0 15%;
}

p.droite{
    padding-left: 15%;
    text-align: center;
}

/*Pour les bouttons, la technique pour avoir deux colonnes et les garder dans le cadre bleu s'est de bien aligner 
les boutons de gauche et de mettre en float ceux de droite, tant qu'il y a plus de bouton a gauche l'affichage marche*/
form.gauche{
    width: 30%;
    padding: 0 0 0 10%;
    margin-right: 2em;
}

form.droite{
    float: right;
    width: 30%;
    padding: 0 0 0 10%;
    margin-right: 5em;
}

li input[type=submit]{
    width: 15em;
	background: #8CDBFF;
	height: 2.5em;
	border-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 15px;
	font-weight: bold;
}

/* Affichage du calendrier de présence d'un étudiant */
table{
    
    border-collapse: collapse;
    text-align: center;
    border: none;
    margin:auto;
}

th.disparait{
    border:0px solid black;
}

td,th{
    border: 1px solid #a3a375;
    width: 100px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

div.form-inline{
    display: flex;
    justify-content: center;
    
}

button{
    background-color: white;
    height: 30px;
    border-radius: 5px;
    border: 3px solid black;
    margin: 5px;
}

#num-sem{
    margin: 10px;
    text-align: center;
}
