<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Page d'administration</title>
        <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
		<script src="../static/js/Week-Picker-jQuery-Moment/src/week-picker.js"></script>
		<link rel="stylesheet" href="../static/js/Week-Picker-jQuery-Moment/dist/week-picker.css">
        <style>
        
        </style>
</head>

<body>
    <div class="container">
    <h1>Selection des semaines :</h1>
    
    <div class="week-picker" data-locale="multi"></div>
    
    <br>


    
    <form method="POST" action="{{url_for('choixFiliere')}}">
        <input id="tsa" name="tsa" type="hidden" value="test">
        <input type="submit" value="Valider">
    </form>

   
    




</body>

</html>