<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Choix des filières</title>
  <link rel="stylesheet" href="../static/css/styleHeader.css">
  <link rel="stylesheet" href="../static/css/styleAdmin.css">

  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
  {% include 'header.html' %}

  {% if modifType == 1 %}
      <!-- MODIFICATIONS RÉUSSIES -->
      <div style="margin-top: 10px; text-align: center; border: 3px solid green;">Modifications des données enregistrées.</div>
  {% elif modifType == -1 %}
      <!-- MODIFICATIONS ÉCHOUÉES -->
      <div style="margin-top: 10px; text-align: center; border: 3px solid red;">Une erreur a eu lieu lors de la modification des données : {{msgErreur}}</div>
  {% endif %}


  <form action="{{url_for('adminModifVariable')}}" method="POST">
    <h1>Changement des informations</h1>
    <fieldset>
      <legend>Date</legend>
      <ol>
        <li>
          <label for="debutAnnee">Debut d'année : </label>
          <input type="text" name="debutAnnee" id="debutAnnee" value="{{admin[0][0]}}" placeholder="jj/mm/aaaa" onClick="this.value = '';" >  
        </li>
        <li>
          <label for="finAnnee">  Fin d'année :</label>
          <input type="text" name="finAnnee" id="finAnnee" value="{{admin[0][1]}}" placeholder="jj/mm/aaaa"  onClick="this.value = '';" >  
        </li>
      </ol>
    </fieldset>

    <fieldset>
      <legend>Période d'affichage pour attestation</legend>
      <ol>
        <li>
          <label for="debutPeriode">Du:</label>
          <input type="text" name="debutPeriode" id="debutPeriode" value="{{admin[0][2]}}" placeholder="jj/mm/aaaa" onClick="this.value = '';" >  
        </li>
        <li>
          <label for="finPeriode">Au :</label>
          <input type="text" name="finPeriode" id="finPeriode" value="{{admin[0][3]}}" placeholder="jj/mm/aaaa" onClick="this.value = '';" >
        </li>
      </ol>
    </fieldset>

    <fieldset>
      <legend>Personnel</legend>
      <ol>
        <li>
          <label for="presidentUSMB">President de l'USMB:</label>
          <input type="text" name="presidentUSMB" id="presidentUSMB" value="{{admin[0][4]}}" onClick="this.value = '';" >
        </li>
        <li>
          <label for ="presidentSFC">President du SFC:</label>
          <input type="text" name="presidentSFC" id="presidentSFC" value="{{admin[0][5]}}" onClick="this.value = '';" >
        </li>
      </ol>
    </fieldset>

    <fieldset>
      <legend>Autre</legend>
      <ol>
        <li>
          <label for="tarifMaster">Tarifage des master</label>
          <input type="text" name="tarifMaster" id="tarifMaster" value="{{admin[0][6]}}" onclick="this.value='';">  
        </li>
      </ol>
    </fieldset>

    <input type="submit" value="Valider">
  </form>
 
</body>
</html>