<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Choix des filières</title>
  <link rel="stylesheet" href="../static/css/styleHeader.css">
  <link rel="stylesheet" href="../static/css/styleAcceuil.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script> 
$(function(){
  $("#header").load("./header.html"); 
  $("#footer").load("./footer.html"); 
});
</script> 
</head>
<body>
  {% include 'header.html' %}

  <h1>Choix du master</h1>
  <form action="pageGenerale.html" method="POST">
    <input class="button" type="submit" value="Informatique">
    <br>
    <input class="button" type="submit" value="Mathématiques et applications">
    <br>
    <input class="button" type="submit" value="Réseaux et télécommunications">
    <br>
    <input class="button" type="submit" value="Chimie">
    <br>
    <input class="button" type="submit" value="Energétique Thermique">
  </form>
</body>
</html>