<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Documentation</title>
    <link rel="stylesheet" href="../static/css/styleHeader.css">
	<link rel="stylesheet" href="../static/css/styleDoc.css">
</head>
{% include 'header.html' %}
<body>
    <h1>Documentation Utilisateur :</h1>
    <!--Si on veut un truc dynamique
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vSdBvNR-dMu8F1RtfNUqivhSNaxREyAgzGJY-T9OEhZJR8ktRjITubBDoOm-50nu2D4HZbY8NIROR3u/pub?embedded=true" frameborder=0></iframe>
    -->
    <embed  src="../static/pdf/documentation.pdf" type="application/pdf"/>

</body>

</html>