<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Selection du calendrier des alternants</title>
	<link rel="stylesheet" href="../static/css/styleHeader.css">
	<link rel="stylesheet" href="../static/css/styleAcceuil.css">
    	<!-- loads jquery and jquery ui -->
	<!-- -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <!-- loads multiple dates picker -->
	<script type="text/javascript" src="../static/js/jquery-ui.multidatespicker.js"></script>
   
    <!-- le css pour le calendrier TODO-->
	<link rel="stylesheet" type="text/css" href="../static/css/newDatePicker.css">
	

    <script>
		$(function(){
			//---------------------------------------------------------
			//Récupération de l'emploi du temps déja mis dans la bdd
			//----------------------------------------------------------
			var liste_jours_cours;
			$.getJSON("../static/json/emploiDuTempsPick.json", function(data){
				//récupère le tableau de date du format json
				liste_jours_cours = data;
			})
			.done(function() {
				//transforme le tableau de date qui est en string en un tableau de format date
				var date = new Date();
				var tab_date = new Array();
				for(let i=0; i<liste_jours_cours.length; i++){
					tab_date[i] = date.setDate(liste_jours_cours[i].substring(3,5));
				}

				//utilise la fonction multiDatesPicker pour sélectionner les jours du tableau dans le calendrier
           		$('#calendar').multiDatesPicker({
					addDates: tab_date 
				});
  			})
  			.fail(function() {
    			console.log( "error" );
  			})
		})
	</script>

<script> 
	$(function(){
	  $("#header").load("./header.html"); 
	});
	</script> 
</head>

<body>
	{% include 'header.html' %}
    <div id="calendar">

	</div>
	<form method="post">
		<input id="hide" name="hide" type="hidden" value="">
		<button id="valider" type="submit" onclick="getDatesSelected()">Valider</button>
	</form>
	
</body>
</html>

<script type="text/javascript">
	let dates;

	let inputH = document.getElementById("hide");

	function getDatesSelected(){
		//Récupération des dates pick
		dates = $('#calendar').multiDatesPicker('getDates');
		console.log(dates);

		//Transformation en js
		let myJson = JSON.stringify(dates, null, '\t');
		console.log(myJson);

		inputH.value = myJson;
	}
</script>