<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Selection du calendrier des alternants</title>
	<link rel="stylesheet" href="../static/css/styleHeader.css">
	<link rel="stylesheet" href="../static/css/styleAcceuil.css">

<!-- pour le deuxième calendrier -->
	<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="../static/js/Week-Picker-jQuery-Moment/src/week-picker.js"></script>
	<link rel="stylesheet" href="../static/js/Week-Picker-jQuery-Moment/dist/week-picker.css">
	<link type="text/css" rel="stylesheet" href="../static/js/Multiple-DatePicker-master/Multiple-DatePicker-master/css/jquery-ui.css"/>
	<link type="text/css" rel="stylesheet" href="../static/js/Multiple-DatePicker-master/Multiple-DatePicker-master/css/datepainter.css"/>
	<link type="text/css" rel="stylesheet" href="../static/js/Multiple-DatePicker-master/Multiple-DatePicker-master/css/bootstrap.min.css"/>

	
	<script>
		let dateBDD = '{{dates}}';
	</script>
</head>

<body>
	{% include 'header.html' %}

		<div class="container">
			<h1>Selection des semaines :</h1>
			<br>
			<div id="datepainter">
			</div>
		
		</div>

	</div>
	<form method="post">
		<input id="tsa" name="tsa" type="hidden" value="">
		<button id="valider" type="submit" onclick="getDatesSelected()">Valider</button>
	</form>

	<script type="text/javascript" src="../static/js/Multiple-DatePicker-master/Multiple-DatePicker-master/js/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../static/js/Multiple-DatePicker-master/Multiple-DatePicker-master/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="../static/js/Multiple-DatePicker-master/Multiple-DatePicker-master/js/moment.min.js"></script>
    <script type="text/javascript" src="../static/js/Multiple-DatePicker-master/Multiple-DatePicker-master/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/Multiple-DatePicker-master/Multiple-DatePicker-master/js/datepainter.js"></script>
    <script>
    
    $(function() {
        $("#datepainter").datepainter();
    });
    
    </script>
	
</body>
</html>