<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Selection du calendrier des alternants</title>
	<link rel="stylesheet" href="../static/css/styleHeader.css">
	<link rel="stylesheet" href="../static/css/styleMessage.css">
	<link rel="stylesheet" href="../static/css/styleEmploi.css">
	
	<!-- pour le calendrier -->
	<link rel="stylesheet" href="../static/css/datepainter.css">

	<script>
		let dateBDD = '{{dates}}';
	</script>
</head>

<body>
	{% include 'header.html' %}
	{% if modifType == 1 %}
	<!-- MODIFICATIONS RÉUSSIES -->
	<div class="reussit">Modifications des dates du calendrier enregistrées.</div>
	{% elif modifType == -1 %}
	<!-- MODIFICATIONS ÉCHOUÉES -->
	<div class="erreur">Une erreur a eu lieu lors de la modification des dates du calendrier</div>
	{% endif %}

		<div class="container">
			<h1>Selection des semaines :</h1>
			<br>
			<div id="datepainter">
			</div>
		
		</div>

	</div>
	<form method="post">
		<input id="tsa" name="tsa" type="hidden" value="">
		<button id="valider" type="submit" onclick="get_Active()">Valider</button>
	</form>

	<script type="text/javascript" src="../static/js/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="../static/js/moment.min.js"></script>
    <script type="text/javascript" src="../static/js/datepainter.js"></script>
    <script>
    
    $(function() {
        $("#datepainter").datepainter();
    });
    
    </script>
	
</body>
</html>