<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Création de compte</title>

        <link rel="stylesheet" href="../static/css/styleHeader.css">
        <link rel="stylesheet" href="../static/css/styleGestionCompte.css">
        
</head>

<body>
    {% include 'header.html' %}

    {% if modifType == 1 %}
        <!-- MODIFICATIONS RÉUSSIES -->
        <div style="margin-top: 10px; text-align: center; border: 3px solid green;">Modifications du compte {{identifiant}} enregistrées.</div>
    {% elif modifType == -1 %}
        <!-- MODIFICATIONS ÉCHOUÉES -->
        <div style="margin-top: 10px; text-align: center; border: 3px solid red;">Une erreur a eu lieu lors de la modification du compte {{identifiant}} : {{msgErreur}}</div>
    {% endif %}


    <h1>Gestion du compte :</h1>
    
    <form method="POST" action="{{url_for('gestionCompte')}}">
        <div>
        <label for="nomCompte">Nom du compte (adresse mail du proprietaire):</label>
        <input type="email" id="nomCompte" name="nomCompte" required>
        </div>
        <div>
        <label for="mdp">Nouveau mot de passe :</label>
        <input type="text" id="mdp" name="mdp" required>
        </div>


        <input type="submit" value="Valider">
    </form>

</body>

</html>