<header class="header">
    <img id="logoUSMB" src="../static/img/logoUSMB1.png" width="100"/>
    <a href="/choixFiliere">
        <img id="logoMaison" src="../static/img/logoMaison.png" width="50"/>
    </a>

    <ul id="menu">
        <li><h1>Menu</h1>
            <ul>
                <li><a id="headera" href="/choixFiliere">Accueil</a></li>
                <li><a id="headera" href="/administration">Administration</a></li>
              
            </ul>
        </li>
    </ul>
    <a class="aimg" href="index">
        <img id="logoDeco" src="../static/img/logoDeco.png" width="50"/>
    </a>
</header>