<header class="header">
    
    <img id="logoUSMB" src="../static/img/logoUSMB1.png" width="100"/>

    <a href="/choixFiliere">
        <img id="logoMaison" src="../static/img/logoMaison.png" width="50"/>
    </a>
    <nav>
    <ul>
        <li  class="menu"><a href="#">Menu &ensp;</a>
            <ul class="sous">
                <li><a href="/choixFiliere">Accueil</a></li>
                <li ><a href="/pageAdministration" >Administration</a></li>
                <li ><a href="/creationCompte">Créer un compte</a></li>
                <li><a href="/gestionCompte">Gestion du compte</a></li>
                <li><a href="/documentation">Documentation</a></li>
            </ul>
        </li>
    </ul>
    </nav>
    <div id="nomUser"></div>

    <a class="aimg" href="{{url_for('deconnexion')}}">
        <img id="logoDeco" src="../static/img/logoDeco.png" width="50"/>
    </a>

    <script>
        // Fonction getCookie
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        document.getElementById('nomUser').innerText = `Bonjour, ${getCookie("compteConnecte")}`;
        if (getCookie("typeCompte") != "administrateur") {
            // Ce n'est pas un administrateur, on supprime les liens du menu menant à des pages admin
            var elements = document.getElementsByClassName("admina");
            while(elements.length > 0){
                elements[0].parentNode.removeChild(elements[0]);
            }
        }
    </script>
</header>