<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Page de connexion</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styleConnexion.css') }}">
<head>
	<body id="cadre">
		<div id="container">
			<h1>Bienvenue</h1>
			<img src="View/Pictures/usmb.jfif" alt="Logo usmb">

			<form action="Control/connexion.html" method="post">
				<input type="text" id="name" name="user_name" placeholder="Utilisateur">
				<input type="password" id="mdp" name="user_mdp" placeholder="Mot de passe">
			
				<button type="submit">Connexion</button>
			</form>

			<p><a href="#">Nom d'utilisateur</a> ou <a href="#">mot de passe</a> oublié ?</p>
			<p>Vous n'avez pas de compte ? <a href="#">Créer un compte</a></p>	
		</div>
	</body>
</head>