<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Page de connexion</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styleConnexion.css') }}">
<head>
	<body id="cadre">
		<div id="container">
			<h1>Bienvenue</h1>
			<img src="{{ url_for('static', filename='img/usmb.jfif') }}" alt="Logo usmb">

			{% if connexionError == True %}
			<div>ERREUR: Identifiant ou mot de passe incorrect.</div>
			{% endif %}

			<form action="" method="post">
				<input type="text" id="name" name="user_name" placeholder="Utilisateur">
				<input type="password" id="mdp" name="user_mdp" placeholder="Mot de passe">
			
				<button type="submit" value="Submit">Connexion</button>
			</form>

			<p><a href="/gestionCompte">mot de passe</a> oublié ?</p>
		</div>
	</body>
</head>