 <!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Modification : {{user[0][1]}} {{user[0][2]}}</title>
  <link rel="stylesheet" href="../static/css/styleHeader.css">
  <link rel="stylesheet" href="../static/css/styleModif.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
        {% include 'header.html' %}        
    
    
        <form action="{{url_for('pageEtu', id=user[0][3])}}" method="POST">
        <h1>Modifier les informations de l'étudiant</h1>
        <ol>
                <li>
                        <label for="nom">Nom:</label>
                        <input type="text" name="nom" id="nom" value='{{user[0][1]}}'  > 
                </li>
                <li>
                        <label for="prenom">Prenom:</label>
                        <input type="text" name="prenom" id="prenom" value='{{user[0][2]}}'> 
                </li>
                <li>
                        <label for="numeroEtudiant">Numero Etudiant: </label>
                        <input type="text"  name="numeroEtudiant" id="numeroEtudiant" value='{{user[0][3]}}' >
                </li>
                <li>
                        <label for="numeroBadge">Numero badgage: </label>
                        <input type="text" name="numeroBadge" id="numeroBadge" value="{{'%0x' % user[0][0]}}" onchange="messageInfo();">
                </li>
                <li>
                        <label for="typeContratEtudiant">Type de Contrat: </label>
                        <select name="typeContratEtudiant">
                                <option id="contrat appr" value="contrat appr">contrat apprentissage</option>
                                <option id="contrat pro" value="contrat pro">contrat professionnel</option>
                                <option id="pas alternant" value="pas alternant">pas alternant</option>
                                <option id="rupture" value="rupture">rupture</option>
                        </select>
                </li>
                <li>
                        <label for="tarif">Tarif: </label>
                        <input type="text" name="tarif" id="tarif" value='{{user[0][5]}}'>
                </li>
                <li>
                        <label for="filiere">Filiere: </label>
                        <select name="filiere">
                                {% for f in fil %}
                                        {% if user[0][6] == f[0] %}
                                                <option selected value="{{f[0]}}">{{f[1]}}</option>
                                        {% else %}
                                                <option value="{{f[0]}}">{{f[1]}}</option>
                                        {% endif %}
                                {% endfor %}
                        </select>
                </li>
                <li>
                        <label for="numeroTel">Numero de Telephone: </label>
                        {% if user[0][7] == "" %}
                                <input type="text" name="numeroTel" id="numeroTel" value="">
                        {% else %}
                                <input type="text" name="numeroTel" id="numeroTel" value='{{user[0][7]}}'>
                        {% endif %}
                </li>
                <li>
                        <label for="mailEtu">Mail Etudiant: </label>
                        {% if user[0][8] == "" %}
                                <input type="text" name="mailEtu" id="mailEtu" value="">
                        {% else %}
                                <input type="text" name="mailEtu" id="mailEtu" value='{{user[0][8]}}'>
                        {% endif %}
                </li>
                <li>
                        <label for="mailEntreprise">Mail Entreprise: </label>
                        {% if user[0][9] == "" %}
                                <input type="text" name="mailEntreprise" id="mailEntreprise" value="">
                        {% else %}
                                <input type="text" name="mailEntreprise" id="mailEntreprise" value='{{user[0][9]}}'>
                        {% endif %}
                </li>
                <li>
                        <label for="commentaire">Commentaire: </label>
                        <textarea id="commentaire" name="commentaire" rows="5" cols="25">{{user[0][10]}}</textarea>
                </li>
        </ol>
       
        <input type="submit" value="Valider">
        <p id="annuler" ><a href="{{url_for('pageEtu', id=user[0][3])}}">Annuler</a></p>

        <input type="hidden" id="typeContrat" value='{{user[0][4]}}'>
    </form>
</body>
</html>

<script type="text/javascript">
	let typeContrat = document.getElementById("typeContrat");
        if(typeContrat.value == document.getElementById("contrat appr").value){
                //Contrat alternant :
                document.getElementById("contrat appr").selected = true;
        }
        else if(typeContrat.value == document.getElementById("contrat pro").value){
                //Contrat pro : 
                document.getElementById("contrat pro").selected = true;
        }
        else if(typeContrat.value == document.getElementById("rupture").value){
                //Pas alternant :
                document.getElementById("rupture").selected = true;
        }
        else{
                //Rupture :
                document.getElementById("pas alternant").selected = true;
        }

        function resetForm(id,t){
               input = document.getElementById(id);
               if(input.value === ""){
                       input.value = t;
               }
        }
	
        function messageInfo(){
                if (confirm("Voulez vous vraiment changer le numero de badge ?")) {
                } else {
                        input = document.getElementById("idCarteEtu");
                        console.log('{{user[0][0]}}');
                        input.value = parseInt('{{user[0][0]}}').toString(16);
                } 
        }
</script>
