<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Page Générale</title>
  <link rel="stylesheet" href="../static/css/styleHeader.css">
  <link rel="stylesheet" href="../static/css/styleGenerale.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script> 
$(function(){
  $("#header").load("./header.html"); 
  $("#footer").load("./footer.html"); 
});
</script> 
</head>
<body>
  {% include 'header.html' %}

  <h1>Master Informatique</h1>
  <table>
      <thead>
        <tr>
            <th colspan="4">Liste des étudiants</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Type de contrat</th>
            <th>N°Étudiant</th>
        </tr>
      {% for e in user %}
        <tr>
          <td><a href="{{url_for('pageEtu', id=e.idCarteEtu)}}">{{e.nom}}</a></td>
          <td>{{e.prenom}}</td>
          <td>{{e.typeContratEtudiant}}</td>
          <td>{{e.numeroEtudiant}}</td>
        </tr>
      {% endfor %}
        
    </tbody>
  </table>
  <br><br>
  <h1>Feuille de présence par semaine</h1>
  <br><br>
  <h1>!!!!!!!!! METTRE LE TABLEAU JAVASCRIPT DE RÉMI !!!!!!!!!</h1>

  <form method="POST" action="" >
    <input type="submit" value="Générer le tableau du mois">
  </form>

  
</body>
</html>