<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Page Générale</title>
  <link rel="stylesheet" href="../static/css/styleHeader.css">
  <link rel="stylesheet" href="../static/css/styleGenerale.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script> 
$(function(){
  $("#header").load("./header.html"); 
  $("#footer").load("./footer.html"); 
});
</script> 
</head>
<body>
  {% include 'header.html' %}

  <div id="titre">Master Informatique</div>
  <br>
  
  <h2>Liste des étudiants</h2>
  <table id="listeEtudiants">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Type de contrat</th>
          <th>N° Étudiant</th>
        </tr>
    </thead>
    <tbody>

      {% for e in user %}
        <tr id="ligneEtudiant" onclick="window.location=`{{url_for('pageEtu', id=e.idCarteEtu)}}`">
          <td>{{e.nom}}</td>
          <td>{{e.prenom}}</td>
          <td>{{e.typeContratEtudiant}}</td>
          <td>{{e.numeroEtudiant}}</td>
        </tr>
      {% endfor %}
        
    </tbody>
  </table>
  <br><br>
  <h2>Feuille de présence par semaine</h2>
  <br>

  <!-- !!!!!!!!! METTRE LE TABLEAU JAVASCRIPT DE RÉMI !!!!!!!!! -->

  <form method="POST" action="" >
    <input type="submit" value="Générer le tableau du mois">
  </form>

  
</body>
</html>