<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Page Générale</title>
  <link rel="stylesheet" href="../static/css/styleHeader.css">
  <link rel="stylesheet" href="../static/css/styleGenerale.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script> 
$(function(){
  $("#header").load("./header.html"); 
  $("#footer").load("./footer.html"); 
});
</script> 
</head>
<body>
  {% include 'header.html' %}

  <div id="titre">Master Informatique</div>
  <br>
  
  <h2>Liste des étudiants</h2>
  <table id="listeEtudiants">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Type de contrat</th>
          <th>N° Étudiant</th>
        </tr>
    </thead>
    <tbody>

      {% for e in user %}
      <tr id="ligneEtudiant" onclick="window.location=`{{url_for('pageEtu', id=e[0])}}`">
        <td>{{e[1]}}</td>
        <td>{{e[2]}}</td>
        <td>{{e[4]}}</td>
        <td>{{e[3]}}</td>
      </tr>
      {% endfor %}
        
    </tbody>
  </table>
  <br><br>
  <h2>Feuille de présence par semaine</h2>
  <br>


  <table id="presenceEtudiants">
    <thead>
      <tr>
        <th class="disparait"></th>
        <th>Lundi</th>
        <th>Mardi</th>
        <th>Mercredi</th>
        <th>Jeudi</th>
        <th>Vendredi</th>
      </tr>
      <tr>
        <th class="disparait" style="width: 50px;"></th>
        <th id="semaine-lun"></th>
        <th id="semaine-mar"></th>
        <th id="semaine-mer"></th>
        <th id="semaine-jeu"></th>
        <th id="semaine-ven"></th>
      </tr>
    </thead>
    <tbody id="calendar-body"></tbody>
  </table>

  <div class="form-inline">
    <button class="btn btn-outline-primary col-sm-6" onclick=prevWeek()>Précédent</button>
	<p id="num-sem"></p>
    <button class="btn btn-outline-primary col-sm-6" onclick=nextWeek()>Suivant</button>
  </div>

  <form method="POST" action="" >
    <input type="submit" value="Générer le tableau du mois">
  </form>

  <script type="text/javascript">
    // DEFINITION DU NUMERO DE SEMAINE
// Returns the ISO week of the date.
Date.prototype.getWeek = function () {
    var onejan = new Date(this.getFullYear(), 0, 1);
    var sem = Math.ceil((((this - onejan) / 86400000) + onejan.getDay() + 1) / 7);
    return (sem==53?1:sem);
}
function getMonday(d) {
  var cday = new Date(d);
  var day = cday.getDay(),
    diff = cday.getDate() - day + (day == 0 ? -6 : 1); // adjust when day is sunday
  return new Date(d.setDate(diff));
}

let today = new Date();
let monday = getMonday(today);

let months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
let days = ["lundi", "mardi", "mercredi", "jeudi", "vendredi"];

showCalendar(monday);


function showCalendar(monday) {
    let curWeek = monday.getWeek();
    let curYear = monday.getFullYear();

    let dateSemaine =[];
    let idEtu =[];
    let presence =[];
    let numEtu=[];
    let nomEtu=[];
    {% for e in user %}
      idEtu.push({{e[0]}});
      numEtu.push({{e[3]}});
      nomEtu.push("{{e[1]}} {{e[2]}}");
    {% endfor %}

      let getJour = [];
    for(let r=0;r<idEtu.length;r++){
      getJour.push(numEtu[r]+"_lun");
      getJour.push(numEtu[r]+"_mar");
      getJour.push(numEtu[r]+"_mer");
      getJour.push(numEtu[r]+"_jeu");
      getJour.push(numEtu[r]+"_ven");
    }


    let first = monday;

	let numSem = document.getElementById("num-sem");

	numSem.innerText = "semaine "+first.getWeek();

    let calendar = document.getElementById("calendar-body");
    calendar.innerHTML = "";
    // Calcul de la date
    let date = first.getDate();
    for (let i = 0; i < nomEtu.length; i++) {
        // N° jour, matin, après-midi
      

        if (i === 0) {
            let dateCalc = first;

            document.getElementById("semaine-lun").innerHTML = `${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`;
            dateSemaine.push(`${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`);
            
            dateCalc.setDate(dateCalc.getDate() + 1);
            document.getElementById("semaine-mar").innerHTML = `${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`;
            dateSemaine.push(`${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`);

            dateCalc.setDate(dateCalc.getDate() + 1);
            document.getElementById("semaine-mer").innerHTML = `${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`;
            dateSemaine.push(`${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`);

            dateCalc.setDate(dateCalc.getDate() + 1);
            document.getElementById("semaine-jeu").innerHTML = `${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`;
            dateSemaine.push(`${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`);

            dateCalc.setDate(dateCalc.getDate() + 1);
            document.getElementById("semaine-ven").innerHTML = `${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`;
            dateSemaine.push(`${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`);

            //continue;
        }
        
        let row = document.createElement("tr");
        row.style = "height: 20px;";
        let dateCalc = date;
        
        
        for(let j = 0;j<6;j++){
          let cell = document.createElement("td");

          if (i < nomEtu.length && j === 0) {
                
                cell.innerText = nomEtu[i];
            }
            else if(j === 1){
              cell.id = numEtu[i]+"_lun"; 
            }else if(j === 2){
              cell.id = numEtu[i]+"_mar"; 
            }else if(j === 3){
              cell.id = numEtu[i]+"_mer"; 
            }else if(j === 4){
              cell.id = numEtu[i]+"_jeu"; 
            }else if(j === 5){
              cell.id = numEtu[i]+"_ven"; 
            }
          row.appendChild(cell);
          
        }
        calendar.appendChild(row);

    }
    let p1 = 0;
    for(let etu=0;etu<idEtu.length;etu++){
      let datePresence =[];
      let idEtuPres =[];
      let presenceMatin =[];
      let presenceAprem=[];
      {% for p in presence %}
          if ({{ p[2] }} === idEtu[etu]) {
            idEtuPres.push({{ p[2]}});
            datePresence.push("{{p[3]}}");
            presenceMatin.push({{ p[0]}});
            presenceAprem.push({{ p[1]}});
          }
        {% endfor %}

      for(let joursem=p1;joursem<(p1+5);joursem++){
          
		  let lunM = document.getElementById(getJour[joursem]);
		  

          for(let jourpres=0;jourpres<datePresence.length;jourpres++){
	
            if(datePresence[jourpres] == dateSemaine[joursem%5]){

                if(presenceMatin[jourpres] == 1 && presenceAprem[jourpres] == 1){
                    lunM.style.backgroundColor = "#8cff66";
                }else if((presenceMatin[jourpres] == 1 && presenceAprem[jourpres] == 2) || (presenceMatin[jourpres] == 2 && presenceAprem[jourpres] == 1) || (presenceMatin[jourpres] == 2 && presenceAprem[jourpres] == 3) || (presenceMatin[jourpres] == 3 && presenceAprem[jourpres] == 2)|| (presenceMatin[jourpres] == 2 && presenceAprem[jourpres] == 2)){
                    lunM.style.backgroundColor = "#ff6666";
                }else if((presenceMatin[jourpres] == 1 && presenceAprem[jourpres] == 3) || (presenceMatin[jourpres] == 3 && presenceAprem[jourpres] == 1) || (presenceMatin[jourpres] == 3 && presenceAprem[jourpres] == 3)){
                    lunM.style.backgroundColor = "#ffff66";
                }else{
                  lunM.style.backgroundColor = "#bd2bbf";
                }
                
            }else{
                
            }
        }
      
      }p1 = p1+5;
    }
}

function prevWeek() {
    today.setDate(today.getDate() - 7);
    let monday = getMonday(today);
    showCalendar(today);
}

function nextWeek() {
    today.setDate(today.getDate() + 7);
    let monday = getMonday(today);
    showCalendar(today);
}
  </script>
  
</body>
</html>
