<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Convention</title>
  <link rel="stylesheet" href="../static/css/styleHeader.css">
  <link rel="stylesheet" href="../static/css/styleConvention.css">
  <link rel="stylesheet" href="../static/css/stylePDF.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
  {% include 'header.html' %}

  <h1 id="titre">Convention</h1>

  <form enctype="multipart/form-data" action="{{url_for('pageConvention', id=user[0][0])}}" method="POST">
	  <label for="conv">Ajouter une convention(au format "Nom Prenom Convention.pdf"):</label>
	  <input id="conv" type="file" name="conv" />    
    <input id="upload" type="submit" value="Envoyer la convention" />
  </form>

    {% if path == '../static/convention/conventionBase.pdf' %}
      <h1>Convention pas encore ajoutée</h1>
    {% else %}
      <embed  src="{{path}}" type="application/pdf"/>
    {% endif %}
    
</body>
</html>
