<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Page Étudiant</title>
  <link rel="stylesheet" href="../static/css/styleHeader.css">
  <link rel="stylesheet" href="../static/css/styleEtu.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script> 
$(function(){
  $("#header").load("./header.html"); 
  $("#footer").load("./footer.html"); 
});
</script> 
</head>
<body>
  {% include 'header.html' %}

  <h1>Description de l'étudiant</h1>
  <table>
    <tbody>
        <tr>
            <th>Nom :</th>
            <td colspan="2">LE NOM</tdcolspan="2">
        </tr>
        <tr>
            <th>Prénom :</th>
            <td colspan="2">LE PRENOM</td>
        </tr>
        <tr>
            <th>Numéro étudiant :</th>
            <td colspan="2">LE NUM</tdcolspan="2">
        </tr>
        <tr>
            <th>Contact :</th>
            <td colspan="2">LE MAIL</td>
        </tr>
        <tr>
            <th>Numéro de téléphone :</th>
            <td colspan="2">LE TEL</td>
        </tr>
        <tr>
            <th>Mail entreprise :</th>
            <td colspan="2">LE MAILS</td>
        </tr>
        <tr>
            <td><form method="POST" action="" >
                <input type="submit" value="Modifier">
              </form>
            </td>
            <td><form method="POST" action="" >
                <input type="submit" value="Convention">
              </form>
            </td>
            <td><form method="POST" action="" >
                <input type="submit" value="Contrat">
              </form>
            </td>
        </tr>
    </tbody>
  </table>
  
  <h1>Consultation présence de l'étudiant</h1>
  <br><br>
  <h1>!!!!!!!!! METTRE LE TABLEAU JAVASCRIPT DE RÉMI !!!!!!!!!</h1>

  
</body>
</html>