<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Étudiant : {{user.nom}} {{user.prenom}} </title>
  <link rel="stylesheet" href="../static/css/styleHeader.css">
  <link rel="stylesheet" href="../static/css/styleEtu.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script> 
$(function(){
  $("#header").load("./header.html"); 
  $("#footer").load("./footer.html"); 
});
</script> 
</head>
<body>
  {% include 'header.html' %}

  <h1>Description de l'étudiant</h1>
  <table>
    <tbody>
        <tr>
            <th>Nom :</th>
            <td colspan="2">{{user.nom}}</tdcolspan="2">
        </tr>
        <tr>
            <th>Prénom :</th>
            <td colspan="2">{{user.prenom}}</td>
        </tr>
        <tr>
            <th>Numéro étudiant :</th>
            <td colspan="2">{{user.numeroEtudiant}}</tdcolspan="2">
        </tr>
        <tr>
            <th>Contact :</th>
            <td colspan="2">{{user.mailEtu}}</td>
        </tr>
        <tr>
            <th>Numéro de téléphone :</th>
            <td colspan="2">{{user.numeroTel}}</td>
        </tr>
        <tr>
            <th>Mail entreprise :</th>
            <td colspan="2">{{user.mailEntreprise}}</td>
        </tr>
        <tr>
            <td><form method="POST" action="" >
                <input type="submit" value="Modifier">
              </form>
            </td>
            <td><form method="POST" action="" >
                <input type="submit" value="Convention">
              </form>
            </td>
            <td><form method="POST" action="" >
                <input type="submit" value="Contrat">
              </form>
            </td>
        </tr>
    </tbody>
  </table>
  
  <h1>Consultation présence de l'étudiant</h1>
  <br>
  <div class="card">
    <table class="table-bordered table-responsive-sm" id="calendar">
        <thead id="calendar-head">
            <tr>
                <th style="width: 50px;"></th>
                <th>Lundi</th>
                <th>Mardi</th>
                <th>Mercredi</th>
                <th>Jeudi</th>
                <th>Vendredi</th>
            </tr>
            <tr>
                <th style="width: 50px;"></th>
                <th id="semaine-lun"></th>
                <th id="semaine-mar"></th>
                <th id="semaine-mer"></th>
                <th id="semaine-jeu"></th>
                <th id="semaine-ven"></th>
            </tr>
        </thead>
        <tbody id="calendar-body"></tbody>
    </table>

    <div class="form-inline">
        <button class="btn btn-outline-primary col-sm-6" onclick=prevWeek()>Précédent</button>
        <button class="btn btn-outline-primary col-sm-6" onclick=nextWeek()>Suivant</button>
    </div>
</div>
</div>
  <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>


  
</body>
</html>