<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Étudiant : {{user[0][1]}} {{user[0][2]}} </title>
    <link rel="stylesheet" href="../static/css/styleHeader.css">
    <link rel="stylesheet" href="../static/css/styleEtu.css">
    <link rel="stylesheet" href="../static/css/styleMessage.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
    {% include 'header.html' %}


    {% if modifType == 1 %}
        <!-- MODIFICATIONS RÉUSSIES -->
        <div class="reussit">Modifications de l'étudiant enregistrées.</div>
    {% elif modifType == -1 %}
        <!-- MODIFICATIONS ÉCHOUÉES -->
        <div class="erreur">Une erreur a eu lieu lors de la modification de l'étudiant : {{msgErreur}}</div>
    {% endif %}


    <div id="descriptEtu">
        <h1>Description de l'étudiant</h1>
        <ol>
            <li>
                <p class="gauche">Nom :</p>
                <p class="droite">{{user[0][1]}}</p>
            </li>
            <li>
                <p class="gauche">Prénom :</p>
                <p class="droite">{{user[0][2]}}</p>
            </li>
            <li>
                <p class="gauche">Numéro étudiant :</p>
                <p class="droite">{{user[0][3]}}</p>
            </li>
            <li>
                <p class="gauche">Contact :</p>
                <p class="droite">{{user[0][8]}}</p>
            </li>
            <li>
                <p class="gauche">Numéro de téléphone :</p>
                <p class="droite">{{user[0][7]}}</p>
            </li>
            <li>
                <p class="gauche">Mail entreprise :</p>
                <p class="droite">{{user[0][9]}}</p>
            </li>
            <li>
                <form class="gauche" method="GET" action="{{url_for('archiveEtu',id=user[0][0]) }}">
                    <input type="submit" value="Archive de l'étudiant">
                </form>
                <form class="droite" method="GET" action="{{url_for('pageConvention', id=user[0][0])}}">
                    <input type="submit" value="Convention">
                </form>
            </li>
            <li>
                <form class="gauche" method="GET" action="{{url_for('pdfEtuPresence', id=user[0][0])}}">
                    <input type="submit" value="Fiche de présence">
                </form>
                <form class="droite" method="GET" action="{{url_for('pdfEtu',id=user[0][0]) }}">
                    <input type="submit" value="Attestation de présence">
                </form>
            </li>
            <li>
                <form class="gauche" method="GET" action="{{url_for('pageModifEtu', id=user[0][0])}}">
                    <input type="submit" value="Modifier">
                </form>
            </li>
        </ol>
    </div>

    <script>
        // Suppression des boutons administrateur
        // La fonction getCookie est écrite dans header.html, on peut s'en servir car le header est importé
        if (getCookie("typeCompte") != "administrateur") {
            $("[id=btnsAdmin]").remove();
        }
    </script>

    <h1>Consultation présence de l'étudiant</h1>
    <br>

    <div class="card">
        <table class="table-bordered table-responsive-sm" id="calendar">
            <thead id="calendar-head">
                <tr>
                    <th class="disparait" class="th_jours"></th>
                    <th>Lundi</th>
                    <th>Mardi</th>
                    <th>Mercredi</th>
                    <th>Jeudi</th>
                    <th>Vendredi</th>
                </tr>
                <tr>
                    <th class="disparait" class="th_jours"></th>
                    <th id="semaine-lun"></th>
                    <th id="semaine-mar"></th>
                    <th id="semaine-mer"></th>
                    <th id="semaine-jeu"></th>
                    <th id="semaine-ven"></th>
                </tr>
            </thead>
            <tbody id="calendar-body"></tbody>
        </table>

        <div class="form-inline">
            <button onclick=prevWeek()>Précédent</button>
            <p id="num-sem"></p>
            <button onclick=nextWeek()>Suivant</button>
        </div>
    </div>
    </div>
<script type="text/javascript">
  //<!--
  // DEFINITION DU NUMERO DE SEMAINE
// Returns the ISO week of the date.
Date.prototype.getWeek = function () {
    var onejan = new Date(this.getFullYear(), 0, 1);
    var sem = Math.ceil((((this - onejan) / 86400000) + onejan.getDay() + 1) / 7);
    return (sem == 53 ? 1 : sem);
}
function getMonday(d) {
    var cday = new Date(d);
    var day = cday.getDay(),
        diff = cday.getDate() - day + (day == 0 ? -6 : 1); // adjust when day is sunday
    return new Date(d.setDate(diff));
}

let today = new Date();
let monday = getMonday(today);

let months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
let days = ["lundi", "mardi", "mercredi", "jeudi", "vendredi"];


showCalendar(monday);



function showCalendar(monday) {
    let curWeek = monday.getWeek();
    let curYear = monday.getFullYear();

    let dateSemaine = [];
    let datePresence =[];
    let presenceMatin =[];
    let presenceAprem=[];
    {% for p in presence %}
        datePresence.push("{{p[3]}}")
        presenceMatin.push({{ p[0]}});
        presenceAprem.push({{ p[1]}});
    {% endfor %}

    
    let first = monday;

    let numSem = document.getElementById("num-sem");

    numSem.innerText = "semaine "+first.getWeek();

    let calendar = document.getElementById("calendar-body");
    calendar.innerHTML = "";
    // document.getElementById("titleSemaine").innerText = `Semaine ${week} de ${year+(week===1?1:0)}`

    let date = first.getDate();
    
    // Mise à jour de l'affichage de la date
    let dateCalc = first;

    document.getElementById("semaine-lun").innerHTML = `${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`;
    dateSemaine.push(`${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`);

    dateCalc.setDate(dateCalc.getDate() + 1);
    document.getElementById("semaine-mar").innerHTML = `${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`;
    dateSemaine.push(`${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`);

    dateCalc.setDate(dateCalc.getDate() + 1);
    document.getElementById("semaine-mer").innerHTML = `${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`;
    dateSemaine.push(`${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`);

    dateCalc.setDate(dateCalc.getDate() + 1);
    document.getElementById("semaine-jeu").innerHTML = `${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`;
    dateSemaine.push(`${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`);

    dateCalc.setDate(dateCalc.getDate() + 1);
    document.getElementById("semaine-ven").innerHTML = `${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`;
    dateSemaine.push(`${dateCalc.getDate()}/${dateCalc.getMonth() + 1}/${dateCalc.getFullYear()}`);

    for (let i = 0; i < 2; i++) {
        // Matin, après-midi

        let row = document.createElement("tr");
        row.style = "height: 20px;"
        let dateCalc = date;
        
        for (let j = 0; j < 6; j++) {
            let cell = document.createElement("td");
            if (i === 0 && j === 0) {
                // Matin
                cell.innerText = "MATIN";
            }
            else if (i === 1 && j === 0) {
                // Après-midi
                cell.innerText = "APRÈS-MIDI";
            }else{
              cell.id = `${days[j - 1]}_${i === 0 ? "matin" : "apresmidi"}`; 
            }
            
            
            row.appendChild(cell);
        }
        calendar.appendChild(row);
    }

    let getJourMatin = ["lundi_matin","mardi_matin","mercredi_matin","jeudi_matin","vendredi_matin"];
    let getJourApresMidi = ["lundi_apresmidi","mardi_apresmidi","mercredi_apresmidi","jeudi_apresmidi","vendredi_apresmidi"];

    for(let joursem=0;joursem<5;joursem++){
        let lunM = document.getElementById(getJourMatin[joursem]);
        let lunAM = document.getElementById(getJourApresMidi[joursem]);

        for(let jourpres=0;jourpres<datePresence.length;jourpres++){
            console.log(datePresence[jourpres]);
            console.log(dateSemaine[joursem]);
            if(datePresence[jourpres] == dateSemaine[joursem]){
                if(presenceMatin[jourpres] == 1){
                    lunM.style.backgroundColor = "#8cff66";
                }else if(presenceMatin[jourpres] == 2){
                    lunM.style.backgroundColor = "#ff6666";
                }else if(presenceMatin[jourpres] == 3){
                    lunM.style.backgroundColor = "#ffff66";
                }
                if(presenceAprem[jourpres] == 1){
                    lunAM.style.backgroundColor = "#8cff66";
                }else if(presenceAprem[jourpres] == 2){
                    lunAM.style.backgroundColor = "#ff6666";
                }else if(presenceAprem[jourpres] == 3){
                    lunAM.style.backgroundColor = "#ffff66";
                }
            }else{
                
                
            }
        }
    }


}



function prevWeek() {
    today.setDate(today.getDate() - 7);
    let monday = getMonday(today);
    showCalendar(monday);
}

function nextWeek() {
    today.setDate(today.getDate() + 7);
    let monday = getMonday(today);
    showCalendar(monday);
}
  </script>
  
</body>
</html>